[Desktop Entry]
Name=raceGL
Name[pl]=raceGL
Comment=OpenGL Racing Game
Comment[pl]=Wy¶cigi w OpenGL
Icon=raceGL.png
Exec=raceGL
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
