[Desktop Entry]
Name=raceGL
Name[pl]=raceGL
Comment=OpenGL Racing Game
Comment[pl]=Wyścigi w OpenGL
Icon=raceGL
Exec=raceGL
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
